@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000000;
  --background-bg: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #FFFFFF;
    --background-bg: #000000;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
